<div class="grid md:grid-cols-2 w-3/4 mx-auto text-center my-8 gap-x-8 gap-y-4">
	<div class="grid grid-cols-1 bg-[url('https://ik.imagekit.io/uqghswpnt/Jones%20Realty/Lofts-living-room-2.JPG?updatedAt=1698853745729')] rounded-xl py-24 px-20 bg-center bg-cover">
		<div class="bg-neutral-600/50 backdrop-blur-lg rounded-xl py-12">
			<div class="text-center ">
				<h2 class="text-3xl">St. Anthony's Lofts Open Houses</h2>
				<span class="text-center mx-auto flex text-primary justify-center">
			<map-pin-outline-icon>
			</map-pin-outline-icon>
			<p>
				247 Brock Street. Amherstburg, ON.
			</p>
		</span>
			</div>
			<div class="my-2">
				<div>
					Every Sunday. To confirm dates, please click <a href="https://www.facebook.com/johndalimonte" target="_blank" class="underline text-primary">Here</a>
				</div>
			</div>
		</div>

	</div>
	<div class="grid grid-cols-1 bg-[url('https://ik.imagekit.io/uqghswpnt/Jones%20Realty/Front-Perspective-Revised.png?updatedAt=1698853744240')] rounded-xl py-24 px-20 bg-center bg-cover">
		<div class="bg-neutral-600/50 backdrop-blur-lg rounded-xl py-12">
			<div class="text-center">
				<h2 class="text-3xl">St. John's Apartments Open Houses</h2>
				<span class="text-center mx-auto flex text-primary justify-center">
			<map-pin-outline-icon>
			</map-pin-outline-icon>
			<p>
				207 Brock Street. Amherstburg, ON.
			</p>
		</span>
			</div>
			<div class="my-4">
				<div class="my-2">
					Wednesdays from 6:00pm to 8:00pm.
				</div>
				<div class="my-2">
					Sundays from 11:00am to 4:00pm.
				</div>
				<div class="my-2">
					To confirm dates, please click <a href="https://www.facebook.com/people/Peter-Crump/100008293381205/?paipv=0&eav=Afbg_tXmKwcAJ59Ja1xTTe9tZYxdm096BcOnJqe0TiqKsEZeX-Yng7TxvQY5axuPgR0&_rdr" target="_blank" class="underline text-primary">Here</a>
				</div>
			</div>
		</div>

	</div>
</div>
