<div class="grid md:grid-cols-2 w-3/4 mx-auto text-center my-8 gap-x-8 gap-y-4">
	<div class="grid grid-cols-1 bg-neutral-700 rounded-xl py-4 px-8">
		<div class="text-center">
			<h2 class="text-3xl">St. Anthony's Lofts Open Houses</h2>
			<span class="text-center mx-auto flex text-primary justify-center">
			<map-pin-outline-icon>
			</map-pin-outline-icon>
			<p>
				247 Brock Street. Amherstburg, ON.
			</p>
		</span>
		</div>
		<div class="my-2">
			<div>
				Every Sunday. Visit <span><a class="underline text-primary hover:text-primary-600" href="" target="_blank">Here</a> </span> for more information.
			</div>
			<div>

			</div>
		</div>
	</div>
	<div class="grid grid-cols-1 bg-neutral-700 rounded-xl py-4 px-8">
		<div class="text-center">
			<h2 class="text-3xl">St. John's Apartments Open Houses</h2>
			<span class="text-center mx-auto flex text-primary justify-center">
			<map-pin-outline-icon>
			</map-pin-outline-icon>
			<p>
				207 Brock Street. Amherstburg, ON.
			</p>
		</span>
		</div>
		<div>
			<div class=" object-cover overflow-hidden w-3/4 mx-auto">
			</div>
		</div>

		<div class="my-4">
			<div class="my-2">
				Wednesdays from 6:00pm to 8:00pm.
			</div>
			<div class="my-2">
				Sundays from 11:00am to 4:00pm.
			</div>
		</div>

	</div>
</div>
