<div class="grid grid-cols-1 text-black gap-4 text-center">
	<section id="ayc" class="bg-[url('https://ik.imagekit.io/uqghswpnt/Jones%20Realty/ayc.jpeg?updatedAt=1698853744782')] bg-cover bg-no-repeat h-[800px] flex justify-between">
		<div class="bg-black/60 w-full flex py-auto">
			<div class="mx-auto px-12 py-8 backdrop-blur rounded bg-neutral-200/30 w-10/12 my-auto">
				<h2 class="text-blue-300 text-4xl mb-4 ">Amherstburg Yacht Club</h2>
				<div class="grid md:grid-cols-2 grid-cols-1 w-full">
					<img src="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/docks-4.jpg?updatedAt=1698853741651" alt="" class="w-full rounded-lg">
					<div>
						<ul class="text-right text-blue-200 flex flex-col gap-4">
							<li class="text-xl text-center text-blue-300 font-bold">General Information</li>
							<li>91 Wells •</li>
							<li>Pump Outs <span class="text-sm text-blue-400">(Monday - Friday | $50.00)</span> •</li>
							<li>Regular, Premium, Diesel Fuel <span class="text-sm text-blue-400">(Saturday & Sunday | 10:00am - 6:00pm)</span> •</li>
							<li>Men & Womens Washrooms with Showers •</li>
							<li>Wifi •</li>
							<li>Security •</li>
							<li>Ice <span class="text-sm text-blue-400">($5.00 per bag)</span> •</li>
							<li>Members Only <span class="text-sm text-blue-400">(Member Fees | $3390.00 Taxes Included | March 1st - October 31st)</span> •</li>
						</ul>
						<ul class="text-right text-blue-200 flex flex-col gap-4 mt-8">
							<li class="text-xl text-center text-blue-300 font-bold">Seasonal Ramp Passes</li>
							<li>Summer | April 1st - October 31st | $565.00 Taxes Included •</li>
							<li>Winter | November 1st - March 31st | $200.00 Taxes Included •</li>
							<li>Seasonal With Dry Docking | $678.00 •</li>
						</ul>
					</div>

					<div class="col-span-2 flex flex-col my-4 text-center text-lg text-blue-300">For more information contact Mackie
						<div class="grid grid-cols-1">
							<div class="flex items-center p-1 mx-auto">
								<phone-outline-icon class="px-2"/>
								<a href="tel:5199192646" class="underline mx-auto"> 519-919-2646</a>
							</div>
							<div class="flex items-center p-1 mx-auto">
								<envelope-outline-icon class="px-2"/>
								<a href="mailto:info@amherstburgyachclub.ca" class="underline mx-auto">Info@amherstburgyachclub.ca</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="rcyc" class="bg-[url('https://ik.imagekit.io/uqghswpnt/Jones%20Realty/_MG_7796-2.jpg?updatedAt=1721158388783')] bg-cover bg-no-repeat h-[800px] flex justify-between">
		<div class="bg-black/60 w-full flex py-auto">
			<div class="mx-auto px-12 py-8 backdrop-blur rounded bg-neutral-200/30 w-10/12 my-auto">
				<h2 class="text-blue-300 text-4xl mb-4 ">River Canard Yacht Club</h2>
				<div class="grid md:grid-cols-2 grid-cols-1 w-full">
					<div>
						<ul class="text-left text-blue-200 flex flex-col gap-4">
							<li class="text-xl text-center text-blue-300 font-bold">General Information</li>
							<li>• 104 Wells</li>
							<li>• Pump Outs <span class="text-sm text-blue-400">(Monday - Friday | $50.00)</span></li>
							<li>• Men & Womens Washrooms with Showers</li>
							<li>• Wifi</li>
							<li>• Security</li>
							<li>• Ice <span class="text-sm text-blue-400">($5.00 per bag)</span></li>
							<li>• Members & Daily Rampers Only <span class="text-sm text-blue-400">(Member Fees | $3390.00 Taxes Included | March 1st - October 31st)</span></li>
						</ul>
						<ul class="text-left text-blue-200 flex flex-col gap-4 mt-8">
							<li class="text-xl text-center text-blue-300 font-bold">Seasonal Ramp Passes</li>
							<li>• Summer | April 1st - October 31st | $565.00 Taxes Included</li>
							<li>• Winter | November 1st - March 31st | $200.00 Taxes Included</li>
							<li>• Seasonal With Dry Docking | $678.00</li>
						</ul>
					</div>

					<img src="https://ik.imagekit.io/uqghswpnt/Jones%20Realty/_MG_7780-1.jpg?updatedAt=1721158391346" alt="" class="w-full rounded-lg">
					<div class="col-span-2 flex flex-col my-4 text-center text-lg text-blue-300">For more information contact Mackie
						<div class="grid grid-cols-1">
							<div class="flex items-center p-1 mx-auto">
								<phone-outline-icon class="px-2"/>
								<a href="tel:5199192646" class="underline mx-auto"> 519-919-2646</a>
							</div>
							<div class="flex items-center p-1 mx-auto">
								<envelope-outline-icon class="px-2"/>
								<a href="mailto:info@amherstburgyachclub.ca" class="underline mx-auto">Info@amherstburgyachclub.ca</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
