<nav [ngClass]="currentRoute === 'jyc' ? 'bg-blue-100' : 'bg-black border-gray-200 dark:bg-gray-900'">
	<div class="max-w-screen-xl grid lg:grid-cols-3 grid-cols-2 items-center mx-auto p-4">
		<a [routerLink]="['jr/home']" class="flex lg:items-center nav-item"
		   aria-label="Jones Realty Logo"
		   appMobileCollapse id="mobileLogo">
			<img [src]="currentRoute === 'jyc' ? 'https://ik.imagekit.io/uqghswpnt/Jones%20Realty/ayc.png?updatedAt=1720643872289' : 'https://ik.imagekit.io/uqghswpnt/Jones%20Realty/JonesRealtyLogo.png'"
				  [ngClass]="currentRoute === 'jyc' ? 'md:h-24 h-14 object-cover' : 'md:h-24 mr-3 h-14'" [alt]="currentRoute === 'jyc' ? 'Amherstburg Yacht Club logo' : 'Jones Realty Inc. logo'"/>
		</a>
		<button type="button"
				class="inline-flex items-center p-2 ml-auto text-sm lg:hidden"
				id="menu-toggle"
				data-te-collapse-init
				data-te-target="#menu"
				aria-controls="menu"
				aria-expanded="false"
				aria-label="Toggle Navigation" (click)="addTarget()"
				appAddTarget>
			<span class="sr-only">Open Navigation</span>
			<svg class="w-6 h-6 float-right" aria-hidden="true"
				 fill="white"
				 viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd"
					  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
					  clip-rule="evenodd"></path>
			</svg>
		</button>
		<ul *ngIf="currentRoute !== 'jyc'" class="lg:flex flex-col lg:flex-row w-full box-border hidden lg:w-auto bg-black col-span-2"
			id="menu">
			<li class=" mx-1 lg:w-full  text-center bg-black hover:bg-gradient-to-r focus:bg-gradient-to-r from-secondary to-primary ease-in-out p-0.5 hover:animate-gradient-x focus:animate-gradient-x">
				<a [routerLink]="['jr/properties']"
				   class="text-[#FAFF00] block w-[100%] p-5 bg-black nav-item navMenuItem"
				   data-te-collapse-init
				   (click)="removeTarget()"
				   appMobileCollapse>Properties</a>
			</li>
			<li class=" mx-1 lg:w-full  text-center bg-black hover:bg-gradient-to-r focus:bg-gradient-to-r from-secondary to-primary p-0.5 hover:animate-gradient-x focus:animate-gradient-x">
				<a [routerLink]="['jr/projects']"
				   class="text-[#FAFF00] block w-[100%] p-5 bg-black nav-item navMenuItem"
				   data-te-collapse-init
				   (click)="removeTarget()"
				   appMobileCollapse>Projects</a>
			</li>
			<li class=" mx-1 lg:w-full  text-center bg-black hover:bg-gradient-to-r focus:bg-gradient-to-r from-secondary to-primary p-0.5 hover:animate-gradient-x focus:animate-gradient-x">
				<a [routerLink]="['jr/media']"
				   class="text-[#FAFF00] block w-[100%] p-5 bg-black nav-item navMenuItem"
				   data-te-collapse-init
				   (click)="removeTarget()" appMobileCollapse>Media</a>
			</li>
			<li class=" mx-1 lg:w-full text-center whitespace-nowrap bg-black hover:bg-gradient-to-r focus:bg-gradient-to-r from-secondary to-primary p-0.5 hover:animate-gradient-x focus:animate-gradient-x">
				<a [routerLink]="['jr/open-houses']"
				   class="text-[#FAFF00] block w-[100%] p-5 bg-black nav-item navMenuItem"
				   data-te-collapse-init
				   (click)="removeTarget()"
				   appMobileCollapse>Open Houses</a>
			</li>
			<li class=" mx-1 lg:w-full  text-center bg-black hover:bg-gradient-to-r focus:bg-gradient-to-r from-secondary to-primary p-0.5 hover:animate-gradient-x focus:animate-gradient-x">
				<a [routerLink]="['jr/company']"
				   class="text-[#FAFF00] block w-[100%] p-5 bg-black nav-item navMenuItem"
				   data-te-collapse-init
				   (click)="removeTarget()"
				   appMobileCollapse>Company</a>
			</li>
			<li class=" mx-1 lg:w-full  text-center bg-black hover:bg-gradient-to-r focus:bg-gradient-to-r from-secondary to-primary p-0.5 hover:animate-gradient-x focus:animate-gradient-x">
				<a [routerLink]="['jr/company']" fragment="contact"
				   class="text-[#FAFF00] block w-[100%] p-5 bg-black nav-item navMenuItem"
				   data-te-collapse-init
				   (click)="removeTarget()"
				   appMobileCollapse>Contact</a>
			</li>
		</ul>
	</div>
</nav>
