<div *ngIf="property.address" class="text-center">
	<h1 class="text-primary text-3xl m-5">{{property.address}}</h1>
	<img *ngIf="!property.thumbnails" class="mx-auto" src="{{property.thumbnailLink}}" alt="{{property.altText}}">
		<hr
			class="my-1 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-primary to-transparent opacity-25 dark:opacity-100 md:col-span-2" />

	<section *ngIf="property.thumbnails" class="mt-0">
		<!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com -->
		<div class="container mx-auto px-5 py-2 lg:px-32 lg:pt-12">
			<div class="-m-1 flex flex-wrap md:-m-2">
				<div *ngFor="let image of property.thumbnails" class="flex w-1/3 flex-wrap">
					<div class="w-full p-1 md:p-2">
						<img
							alt="Gallery Image"
							class="block h-full w-full rounded-lg object-cover object-center"
							src="{{image}}" />
					</div>
				</div>
			</div>
		</div>
	</section>

	<h2 class="text-2xl text-primary my-5">Want to learn more?</h2>

	<section class="flex justify-center items-center mb-5" data-te-sticky-init data-te-sticky-position="bottom">
		<div class="flex text-center p-3" *ngIf="property.contactLink">
			<question-mark-circle-outline-icon class="lg:w-6 lg:h-6 w-10 h-10 mx-2.5"></question-mark-circle-outline-icon>
			<a class="cursor-pointer hover:text-primary active:text-primary focus:text-primary my-auto text-xl"
			   href="{{property.contactLink}}"
			   target="_blank">
				Get in contact with us!
			</a>
		</div>

		<div class="flex text-center p-3" *ngIf="!property.contactLink">
			<question-mark-circle-outline-icon class="lg:w-6 lg:h-6 w-10 h-10 mx-2.5"></question-mark-circle-outline-icon>
			<a class="cursor-pointer hover:text-primary active:text-primary focus:text-primary my-auto text-xl"
			   [routerLink]="['/company']">
				Get in contact with us!
			</a>
		</div>

		<div class="flex text-center p-3" *ngIf="property.listingLink">
			<home-modern-outline-icon class="lg:w-6 lg:h-6 w-10 h-10 mx-2.5"></home-modern-outline-icon>
			<p class="text-xl">
				<a href="{{property.listingLink}}" target="_blank"
				   class="cursor-pointer hover:text-primary active:text-primary focus:text-primary my-auto">Check out the listing</a>.
			</p>
		</div>
	</section>
</div>

<app-not-found *ngIf="!property.address"></app-not-found>
