<section class="mb-12 text-center">
	<h2 class="mb-16 text-3xl font-bold">
		Services we offer
	</h2>
	<div class="grid gap-x-4 md:grid-cols-4 lg:gap-x-12">
		<div class="mb-12 md:mb-0">
			<div class="mb-6 inline-block rounded-md bg-primary-300 p-4 text-primary">
				<building-office-outline-icon class="h-6 w-6" stroke="2" color="black"></building-office-outline-icon>
			</div>
			<h5 class="mb-4 text-lg font-bold">Condominium <br> Management</h5>
		</div>

		<div class="mb-12 md:mb-0">
			<div class="mb-6 inline-block rounded-md bg-primary-300 p-4 text-primary">
				<home-modern-outline-icon class="h-6 w-6" stroke="2" color="black"></home-modern-outline-icon>
			</div>
			<h5 class="mb-4 text-lg font-bold">Residential <br> Management</h5>
		</div>

		<div class="mb-12 md:mb-0">
			<div class="mb-6 inline-block rounded-md bg-primary-300 p-4 text-primary">
				<wrench-screwdriver-outline-icon class="h-6 w-6" stroke="2" color="black"></wrench-screwdriver-outline-icon>
			</div>
			<h5 class="mb-4 text-lg font-bold">Development</h5>
		</div>

		<div class="mb-12 md:mb-0">
			<div class="mb-6 inline-block rounded-md bg-primary-300 p-4 text-primary">
				<plus-outline-icon class="h-6 w-6" stroke="2" color="black"></plus-outline-icon>
			</div>
			<h5 class="mb-4 text-lg font-bold">Additional <br> Services</h5>
		</div>
	</div>
</section>
<section>
	<p class="mx-auto text-center w-1/2 text-2xl my-5">We are proud to offer the best condo and property management services across Ontario, with offices in Windsor-Essex County</p>
</section>
