<script>
  window.onload = function() {
    var el = document.getElementById('g-recaptcha-response');
    if (el) {
      el.setAttribute('required', 'required');
    }
  }
</script>

<h3 class="text-3xl text-primary lg:text-center m-5" id="contact">Get In Contact With Us!</h3>
<div
  class="block rounded-lg bg-neutral-700 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] lg:w-full w-[90%] mx-auto">
  <div class="flex flex-wrap items-center">
    <div class="block w-full shrink-0 grow-0 basis-auto lg:flex lg:w-6/12 xl:w-4/12">
      <div class="h-[600px] w-full">
        <iframe class="left-0 top-0 h-full w-full rounded-t-lg lg:rounded-tr-none lg:rounded-bl-lg" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3665.565828560147!2d-83.11187802341273!3d42.10308915129687!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x883b3c9b64c7db83%3A0x29acdc1a0b314cb5!2s227%20Sandwich%20St%20S%2C%20Amherstburg%2C%20ON%20N9V%202A3!5e1!3m2!1sen!2sca!4v1776795274908!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
    <div class="w-full shrink-0 grow-0 basis-auto lg:w-6/12 xl:w-8/12 grid xl:grid-cols-2 items-center my-5">
      <div class="flex flex-col px-3 pt-5 pb-0 md:pb-0 lg:pt-0">
        <div class="mb-12 w-full shrink-0 grow-0 basis-auto px-3 md:w-full md:px-6 lg:w-full xl:w-full xl:px-12">
          <div class="flex items-start">
            <div class="shrink-0">
              <div class="inline-block rounded-md bg-primary-300 p-4 text-primary">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                     stroke="black" class="h-6 w-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                        d="M14.25 9.75v-4.5m0 4.5h4.5m-4.5 0l6-6m-3 18c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 014.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 00-.38 1.21 12.035 12.035 0 007.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 011.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 01-2.25 2.25h-2.25z" />
                </svg>
              </div>
            </div>
            <div class="ml-6 grow w-full">
              <p class="mb-2 font-bold dark:text-white">
                Phone
              </p>
              <p class="text-neutral-400 dark:text-neutral-200 ">
                <a href="tel:519-736-2969" class="cursor-pointer hover:text-primary active:text-primary focus:text-primary hover:underline active:underline focus:underline">519-736-2969</a>
              </p>
            </div>
          </div>
	    </div>

		<div class="mb-12 w-full shrink-0 grow-0 basis-auto px-3 md:w-full md:px-6 lg:w-full xl:w-full xl:px-12">
			  <div class="flex items-start">
				  <div class="shrink-0">
					  <div class="inline-block rounded-md bg-primary-300 p-4 text-primary">
						  <clock-outline-icon class="h-6 w-6" stroke="2" color="black"></clock-outline-icon>
					  </div>
				  </div>
				  <div class="ml-6 grow w-full">
					  <table class="w-full">
						  <thead>
						  	<td class="text-left">Business Hours</td>
						  </thead>
					  <tbody>
					  <tr>
						  <td class="text-neutral-200">Monday-Friday</td>
						  <td class="lg:text-center text-neutral-400">7:00am - 4:00pm</td>
					  </tr>
					  <tr>
						  <td class="text-neutral-200">Saturday-Sunday</td>
						  <td class="lg:text-center text-neutral-400">Closed</td>
					  </tr>
					  </tbody>
				  </table>
			  </div>
		  </div>
		</div>
		<div
			class="mb-12 w-full shrink-0 grow-0 basis-auto px-3 md:px-6 lg:w-full xl:mb-0 xl:px-12">
			<div class="align-start flex">
			<div class="shrink-0">
			  <div class="inline-block rounded-md bg-primary-300 p-4 text-primary">
				<map-pin-outline-icon class="h-6 w-6" stroke="2"
									  color="black"></map-pin-outline-icon>
			  </div>
			</div>
				<div class="ml-6 grow">
					  <p class="mb-2 font-bold dark:text-white">Location</p>
					  <p class="text-neutral-400 dark:text-neutral-200">
						  227 Sandwich St South, Amherstburg, Ontario.
					  </p>
				</div>
			</div>
		</div>
      </div>

		<div class="md:mx-0 px-4">
			<div class="flex flex-col w-full text-left">
				<h2 class="text-3xl text-primary">Team Members</h2>
				<div class="">
					<table class="grid grid-cols-1 w-3/4 my-2">
						<th class="text-left">
							<tr class="flex flex-col">
								<p class="text-xl">Mackie Jones</p>
								<p class="text-xs text-primary/40">Property Manager</p>
							</tr>

						</th>
						<tr class="">
							<td>
								<p>
									Office Phone: <a href="tel:519-736-2969" class="text-neutral-400 hover:text-primary hover:underline active:text-primary active:underline">519-736-2969</a>
								</p>
								<p>
									Cell Phone: <a href="tel:226-345-9045" class="text-neutral-400 hover:text-primary hover:underline active:text-primary active:underline">226-345-9045</a>
								</p>
								<p>
									Email: <a href="mailto:mackie.jones@jones-realty.ca" class="text-neutral-400 hover:text-primary hover:underline active:text-primary active:underline">mackie.jones@jones-realty.ca</a>
								</p>
							</td>

						</tr>
					</table>

					<table class="grid grid-cols-1 w-3/4 my-2">
						<th class="text-left">
							<tr class="flex flex-col">
								<p class="text-xl">Chantel Ducharme</p>
								<p class="text-xs text-primary/40">Property Manager</p>
							</tr>

						</th>
						<tr class="">
							<td>
								<p>
									Office Phone: <a href="tel:519-736-2969" class="text-neutral-400 hover:text-primary hover:underline active:text-primary active:underline">519-736-2969</a>
								</p>
								<p>
									Cell Phone: <a href="tel:519-999-3300" class="text-neutral-400 hover:text-primary hover:underline active:text-primary active:underline">519-999-3300</a>
								</p>
								<p>
									Email: <a href="mailto:mackie.jones@jones-realty.ca" class="text-neutral-400 hover:text-primary hover:underline active:text-primary active:underline">chantel.ducharme@jones-realty.ca</a>
								</p>
							</td>

						</tr>
					</table>
				</div>
				<div>
					<table class="grid grid-cols-1 w-3/4 my-2">
						<th class="text-left">
							<tr class="flex flex-col">
								<p class="text-xl">Mona Murphy</p>
								<p class="text-xs text-primary/40">Office Manager</p>
							</tr>

						</th>
						<tr class="">
							<td>
								<p>
									Office Phone: <a href="tel:519-736-2969" class="text-neutral-400 hover:text-primary hover:underline active:text-primary active:underline">519-736-2969</a>
								</p>
								<p>
									Email: <a href="mailto:mackie.jones@jones-realty.ca" class="text-neutral-400 hover:text-primary hover:underline active:text-primary active:underline">mmurphy@jones-realty.ca</a>
								</p>
							</td>

						</tr>
					</table>

					<table class="grid grid-cols-1 w-full my-2">
						<th class="text-left">
							<tr class="flex flex-col">
								<p class="text-xl">Chris Salha</p>
								<p class="text-xs text-primary/40">Maintenance Manager</p>
							</tr>

						</th>
						<tr class="">
							<td>
								<p>
									Cell Phone: <a href="tel:289-879-7440" class="text-neutral-400 hover:text-primary hover:underline active:text-primary active:underline">289-879-7440</a>
								</p>
							</td>

						</tr>
					</table>
				</div>
			</div>


		</div>
    </div>
</div>
</div>




